@import "./components/index"

html body 
p
  color: grey

html body
  .home-page
    &__search-result
      padding-top: $search-bar-height
      width: 100%
      max-width: $max-window-size
      margin: auto
      display: flex
      flex-direction: row

      .search-result
        &--left
          flex: 2
        &--right
          flex: 3
